## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
## Mainly copied from ERCF github Repo of EtteGit
[gcode_macro _USER_VARIABLES]
variable_ercf_enabled: True
gcode:

# Include the ERCF macros to unlock them when this file is
# included in the printer.cfg config file
[include ../../macros/miscs/ercf.cfg]

[include ../../ercf_software.cfg]
[include ../../ercf_parameters.cfg]
[include ../../ercf_hardware.cfg]
[include ../../ercf_menu.cfg]
